original
*.pdf
*.pyc
beagle/
numila/__pycache__/
PhillipsPearl_Corpora/
numila/log.txt
numila/numila.sublime-project
numila/numila.sublime-workspace
umila.sublime-project
umila.sublime-workspace
numila/corpora/
numila/pickles/
