original
*.pyc
beagle/
numila/__pycache__/
PhillipsPearl_Corpora/
numila/log.txt
numila/numila.sublime-project
numila/numila.sublime-workspace
umila.sublime-project
umila.sublime-workspace
numila/pickles/
numila/.cache/
numila/notes.md
numila/corpora/
misc/
notebooks/.ipynb_checkpoints/
numila/.pytest/
numila/.ipynb_checkpoints/
numila/junk.py
lme.R
numila/_srilm/
numila/scratch.py
.cache/
numila/scratch.ipynb
writing/.tmp/
Honors_Deadlines_2016.pdf
Honors_Handbook_Faculty-2015.pdf
numila/figs/
writing/progress/progress.pdf
writing/proposal/proposal.pdf
writing/report/report.pdf
